@model Gases.Models.GData

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>GData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GDataTypeId" class="control-label"></label>
                <select asp-for="GDataTypeId" class ="form-control" asp-items="ViewBag.GDataTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GaseId" class="control-label"></label>
                <select asp-for="GaseId" class ="form-control" asp-items="ViewBag.GaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VerticalSlice" class="control-label"></label>
                <input asp-for="VerticalSlice" class="form-control" />
                <span asp-validation-for="VerticalSlice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <select asp-for="RegionId" class ="form-control" asp-items="ViewBag.RegionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Longtitude" class="control-label"></label>
                <input asp-for="Longtitude" class="form-control" />
                <span asp-validation-for="Longtitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

